/* Ensure the app container fills the entire viewport */
.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; /* Prevent scrolling */
}

/* Adjust the viewpage content to align with the sidebar and header */
.viewpage-content {
    margin-left: 250px; /* Sidebar width */
    margin-top: 60px;   /* Header height */
    flex-grow: 1;       /* Take remaining space */

}


