.error {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 500px; /* Increased width to accommodate horizontal layout */
    margin-left: 750px; /* Aligns with the sidebar */
    margin-top: 200px;
    padding: 12px;
    display: flex;
    flex-direction: row; /* Horizontal layout */
    align-items: center;
    justify-content: space-between; /* Distribute space between elements */
    background: #EF665B;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
}

.error__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 12px; /* Adds space between the icon and the title */
}

.error__icon path {
    fill: #fff;
}

.error__title {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    margin-right: 12px; /* Adds space between the title and the message */
}

.error__message {
    font-size: 14px;
    color: #fff;
    text-align: left;
    line-height: 1.4;
    margin-right: 12px; /* Adds space between the message and the close button */
    flex-grow: 1; /* Allows the message to take up available space */
}

.error__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.error__close path {
    fill: #fff;
}
