.head {
    display: flex;
    justify-content: center; /* Center-align items horizontally */
    align-items: center; /* Center-align items vertically */
    padding: 1rem;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    color: aliceblue;
    height: 60px;
    font-weight: bold; /* Make text bold */
    text-align: center; /* Center-align text inside the header */
    font-size: 1.5rem; /* Increase the font size */
  }
  